#points polygon,
#points rect,
#points circle,
#points path,
#points polyline {
    position: relative;
    z-index: 10;
}

#paths polygon,
#paths rect,
#paths circle,
#paths path,
#paths polyline,
#paths line
 {
    fill-opacity: 0 !important;
    stroke-opacity: 0 !important;
}

#content polygon,
#content rect,
#content circle,
#content path,
#content polyline {

}

#meals polygon,
#meals rect,
#meals circle,
#meals path,
#meals polyline {

}

#footprint polygon,
#footprint rect,
#footprint circle,
#footprint path,
#footprint polyline {
    position: relative;
    z-index: 5;
}

#ground polygon,
#ground rect,
#ground circle,
#ground path,
#ground polyline {
}

#bounds polygon,
#bounds rect,
#bounds circle,
#bounds path,
#bounds polyline {
    fill-opacity: 0 !important;
    z-index: 0;
}

#paths .selected.path {
    stroke-opacity: 1 !important;
    stroke: orange !important;
    stroke-width: 5px;
    stroke-dasharray: 20;
    animation: dash 5s linear infinite;
}

@keyframes dash {
    from {
    }
  to {
    stroke-dashoffset: 500;
  }
}

#points .selected.startPoint {
    fill-opacity: 1 !important;
}

#points .selected.endPoint {
    fill-opacity: 1 !important;
}
