/* #points *,
#paths *,
#bounds * {
    fill: transparent;
    stroke: transparent;
}

#paths .selected.path {
    stroke-opacity: 1 !important;
    stroke: orange !important;
    stroke-width: 5px;
    stroke-dasharray: 20;
    animation: dash 5s linear infinite;
}

@keyframes dash {
    from {
    }
  to {
    stroke-dashoffset: 500;
  }
} */
