

// Your variable overrides
$theme-colors: (
    "orange": #f3763a,
    "white": #FFFFFF,
    "black": #000
);
$sizes: (
    0: 0,
    6: 6%,
    10: 10%,
    12: 12%,
    15: 15%,
    18: 18%,
    20: 20%,
    25: 25%,
    30: 30%,
    35: 35%,
    40: 40%,
    45: 45%,
    55: 55%,
    60: 60%,
    70: 70%,
    80: 80%,
    85: 85%,
    90: 90%,
    88: 88%
);

$spacer: 1.5rem;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 3),
  7: ($spacer * 1)
);

$font-size-base: 1rem;

$border-width: 2px !default;
$border-color: #FFF !default;
$input-btn-padding-y:         .375rem !default;
$input-btn-padding-x:         .75rem !default;
$input-btn-font-family:       null !default;

$input-btn-padding-y-sm:      .25rem !default;
$input-btn-padding-x-sm:      .5rem !default;

$input-btn-padding-y-lg:      .5rem !default;
$input-btn-padding-x-lg:      1rem !default;


// import bootstrap scss library
@import "../node_modules/bootstrap/scss/bootstrap";


html, body {
    @extend .h-100, .w-100;
    overflow: hidden;
}

#page_wrapper {
    @extend .w-100, .h-100, .bg-black, .text-white, .d-flex, .align-items-center, .px-3;
    background-image: url("/assets/img/BG.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;

    & > div {
        @extend .h-auto, .w-100;
    }


        #directions_header {
            @extend .h-30, .d-flex, .align-items-end;
            .directions-heading {
                @extend .mb-3;
                position: relative;
                small {
                    @extend .d-block;
                    font-size: 50%;
                }
                strong {
                    @extend .d-block;
                    font-size: 70%;
                }

                &:before {
                    content: "";
                    position: absolute;
                    height: 100%;
                    right: 103%;
                    top: 7px;
                    width: 9px;
                    background-image: url("/assets/img/Icons/White/Points_White.png");
                    background-position: center top;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }

        #directions_carousel {
            @extend .h-70;
            position: relative;

            .map-container {
                @extend .h-50, .container, .py-3, .align-items-center, .d-flex, .justify-content-center;

                & > svg {
                    max-height: 100%;
                    max-width: 100%;
                }
            }

            .info-container {
                @extend .h-50;
                .spacer {
                    @extend .h-10;
                }
                .step-text {
                    @extend .h-20, .d-flex, .align-items-center, .justify-content-center;
                    font-weight: 300;
                    p {
                        @extend .m-0, .text-center;
                    }
                }
                .step-detail {
                    @extend  .text-center, .mt-4;
                    font-weight: 800;
                }
            }

            .carousel-item {
                &.active {
                    &+ .controls-container {
                        @extend .justify-content-start;
                        .carousel-control-next{
                            @extend .d-none;
                        }
                    }
                }
            }


            .controls-container {
                @extend .w-70, .d-flex, .justify-content-between, .align-items-center, .container, .h-10;
                position: absolute;
                top: 55%;
                left: 50%;
                transform: translateX(-50%);
            }

            .carousel-control-prev {
                height: 30px;
                width: 30px;
                background-image: url("/assets/img/Icons/White/Back-Circle_White.png");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                position: relative;
                @extend .d-inline-block;

                & > * {
                    background: none !important;
                }


            }

            .carousel-control-next {
                height: 30px;
                width: 30px;
                background-image: url("/assets/img/Icons/White/Next-Circle_White.png");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                position: relative;
                @extend .d-inline-block;

                & > * {
                    background: none !important;
                }
            }
        }


}

// // // import bootstrap scss library
// @import "../node_modules/bootstrap/scss/bootstrap";
//
// html, body, #page_wrapper, #page_wrapper{
//     @extend .m-0, .p-0, .h-100, .w-100;
//     overflow: hidden;
// }
//
// #page_wrapper {
//     @extend .align-items-center, .justify-content-center, .d-flex, .h-100, .w-100;
//     background-image: url("/assets/img/BG.png");
//     background-position: center bottom;
//     background-repeat: no-repeat;
//     background-size: cover;
//     & > {
//         div {
//             @extend .w-100, .h-auto;
//             & > #directions_header {
//                 @extend .h-25, .align-items-end, .d-flex, .text-white;
//                 & > .container {
//                     @extend .w-100, .d-flex;
//                 }
//                 .directions-heading {
//                     @extend .mb-3;
//                     position: relative;
//                     small {
//                         @extend .d-block;
//                         font-size: 50%;
//                     }
//                     strong {
//                         @extend .d-block;
//                         font-size: 70%;
//                     }
//
//                     &:before {
//                         content: "";
//                         position: absolute;
//                         height: 100%;
//                         right: 103%;
//                         top: 7px;
//                         width: 9px;
//                         background-image: url("/assets/img/Icons/White/Points_White.png");
//                         background-position: center top;
//                         background-repeat: no-repeat;
//                         background-size: contain;
//                     }
//                 }
//             }
//
//             & > #directions_carousel {
//                 @extend .h-75, .d-flex;
//                 .map-container {
//                     @extend .h-75, .align-items-center, .justify-content-center, .d-flex, .w-100, .text-center;
//                     & > svg {
//                         @extend .h-100, .w-auto;
//                     }
//                 }
//                 & > .carousel-inner {
//                     @extend .h-100;
//                 }
//             }
//         }
//     }
// }
