// LAYOUT UTILITY CLASSES

.content-container {
    @extend .container;
}

.content-row {
    @extend .row;
}

.content-col {
    @extend .col, .col-12;
}

#page_wrapper {
    @extend .h-100, .w-100;
}

#page_header {
    @extend .h-6;

    .content-row {
        @extend .pt-4;

        #page_navigation {
            @extend .col, .col-9;
        }

        #clock {
            @extend .col, .col-3, .text-right;
        }
    }
}

#page_content {
    @extend .h-88;
}

#tab_panes_nav {
    // @extend .d-none // UNCOMMENT IN PRODUCTION;
    position: fixed;
    bottom: 0;
    left: 0;
}

#tab_panes_content {
    @extend .w-100, .h-100;
}

.tab-pane {
    @extend .w-100, .h-100;

    .touchable-area {
        @extend .h-60, .col;
    }

    .non-touchable-area {
        @extend .h-40, .col;
    }
}

#page_footer {
    @extend .h-6;

    .content-row {
        @extend .pt-4;

        #footer_navigation {
            @extend .col;

            #ada_button {}
        }
    }
}

#init {
    & .touchable-area {
        & > .content-container {
            & > .content-row {
                @extend .align-items-center, .justify-content-center, .h-100;

                #init_buttons {
                    @extend .col, .col-8;

                    button {
                        @extend .btn-block, .btn-lg, .d-flex, .align-items-center, .justify-content-center, .h-18;
                        font-size: 1em;
                        line-height: 1.1;

                        & + button {
                            @extend .mt-5;
                        }
                    }
                }
            }
        }
    }
}

#session_search {
    & .touchable-area {
        & > .content-container {
            & > .content-row {
                @extend .align-items-center, .justify-content-center, .h-100;

                #session_search_controls {
                    @extend .col, .col-12;

                    .input-group {
                        @extend .mb-5;
                    }

                    .help-text {
                        @extend .mb-5
                    }
                }
            }
        }
    }
}

#session_search_results {
    & > .touchable-area {
        @extend .h-100;
        overflow: hidden;

        & > .content-container {
            & > .content-row {
                @extend .align-items-start, .justify-content-center, .h-100;

                & > .content-col {
                    position: relative;

                    & > h1 {
                        @extend .pt-5, .h-12;
                        font-weight: 300;

                        & > strong {
                            font-weight: 900;
                        }
                    }

                    & > #session_search_results_list {
                        @extend .list-unstyled, .pr-5, .h-88;
                        overflow-y: scroll;

                        & > li {
                            position: relative;
                            @extend .w-100;
                            & > button {
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                min-width: 120%;
                                min-height: 100%;
                                z-index: 999;
                                -webkit-appearance: none;
                                background-color: transparent;
                                border: none;
                                padding: 0;
                                margin: 0;
                                &:hover {
                                     background-color: rgba(0,0,0,0.1);
                                }
                            }
                            & > ul {
                                @extend .list-unstyled, .my-5;

                                & > .session-title {}

                                & > .session-time {}

                                & > .session-title {}
                            }
                        }

                        & > li:first-of-type {
                            @extend .lead, .border-bottom;
                            & > ul {
                                @extend .my-0, .pt-2, .pb-5;
                            }
                        }


                    }
                }
            }
        }
    }

    .non-touchable-area {
        @extend .d-none;
        overflow: hidden;
    }
}

#rooms {
    & > .touchable-area {
        @extend .h-100;
        overflow: hidden;

        & > .content-container {
            & > .content-row {
                @extend .align-items-start, .justify-content-center, .h-100;

                & > .content-col {
                    position: relative;

                    & > h1 {
                        @extend .pt-5, .h-12;
                        font-weight: 300;

                        & > strong {
                            font-weight: 900;
                        }
                    }

                    & > #venue_rooms_list {
                        @extend .list-unstyled, .pr-5, .h-88;
                        overflow-y: scroll;

                        & > li {
                            position: relative;
                            @extend .w-100;
                            & > button {
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                min-width: 120%;
                                min-height: 100%;
                                z-index: 999;
                                -webkit-appearance: none;
                                background-color: transparent;
                                border: none;
                                padding: 0;
                                margin: 0;
                                &:hover {
                                     background-color: rgba(0,0,0,0.1);
                                }
                            }
                            & > ul {
                                @extend .list-unstyled, .my-5;

                                & > .session-title {}

                                & > .session-time {}

                                & > .session-title {}
                            }
                        }


                    }
                }
            }
        }
    }

    .non-touchable-area {
        @extend .d-none;
        overflow: hidden;
    }
}

#route_steps {
    & > .touchable-area {
        @extend .h-100;
        overflow: hidden;

        & > .content-container {
            & > .content-row {
                @extend .align-items-start, .justify-content-center, .h-100;

                & > .content-col {
                    position: relative;

                    & > h1 {
                        @extend .pt-5, .h-12;
                        font-weight: 300;

                        & > strong {
                            font-weight: 900;
                        }
                    }
                }
            }
        }
    }

    .non-touchable-area {
        @extend .d-none;
        overflow: hidden;
    }
}

.map-container {
    @extend .d-flex, .align-items-center, .justify-content-center, .h-60, .w-100;
    & > svg {
        max-height: 100%;
    }
}


#venues {
    & > .touchable-area {
        @extend .h-100;
        overflow: hidden;

        & > .content-container {
            & > .content-row {
                .venue-button {
                    @extend .btn-square, .btn, .btn-block, .btn-white, .text-orange;
                    font-weight: 400;
                }
            }
        }
    }

    .non-touchable-area {
        @extend .d-none;
        overflow: hidden;
    }
}


.venue-menu-button {
    @extend .btn-square, .btn, .btn-block, .btn-white, .text-orange;
    font-weight: 400;
}

.btn-square {
    @extend .d-flex, .align-items-center, .justify-content-center, .p-0;
    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
}

#info_button {
    // @extend .btn-circle, .btn-white, .text-orange;
}

#ada_button {
    // @extend .btn-circle, .text-orange;
}

.panel-heading {
    font-weight: 300;
    line-height: 1.2;
    & > strong {
        font-weight: 900;
    }
}

#tab_panes_nav {
    @extend .d-none;
}

.btn-tile-menu {
    // @extend .row
}
