// import variable overrides for bootstrap
@import "variables.scss";

// import bootstrap scss library
@import "../node_modules/bootstrap/scss/bootstrap";

.btn-theme {
    display: inline-block;
    font-family: $btn-font-family;
    font-weight: $btn-font-weight;
    color: $body-color;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: $btn-border-width solid transparent;
    @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
    @include transition($btn-transition);
    background-color: white;
    color: #f3763a;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);

    &:active {
        outline: none;
        background-color: #f3763a;
        color: white;
    }

    &:hover {
        background-color: white;
        color: #f3763a;
    }

    &:focus {
        outline: none;
        background-color: white;
        color: #f3763a;
    }

    .clicked {
        background-color: #f3763a !important;
        color: white !important;
    }
}

#qr_code_button {
    background-color: white;
    color: #f3763a;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);

    &:active {
        outline: none;
        background-color: #f3763a;
        color: white;
    }

    &:hover {
        background-color: white;
        color: #f3763a;
    }

    &:focus {
        outline: none;
        background-color: white;
        color: #f3763a;
    }

    .clicked {
        background-color: #f3763a !important;
        color: white !important;
    }
}

// import the layout styles
@import "layout.scss";

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  transform: scale(3);
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
