html {
    touch-action: none;
}


#init_buttons {
    button {
        @extend .btn-theme, .btn-block, .h-20, .py-0;
        line-height: 1.1 !important;

        & + button {
            @extend .mt-4;
        }
    }
}

#venue_menu_list,
#venues_list {
    @extend .tile-nav-menu, .content-row, .h-auto, .align-items-start;

    & > li {
        @extend .col, .col-6, .pb-3;

        & > button {
            @extend .square, .btn-theme, .p-0, .w-100;
        }
    }
}

#transportation_options {
    .panel-header {
        overflow: visible;

        .panel-heading {
            position: relative;

            & > small {
                font-size: 50%;
                @extend .d-block;
                margin-bottom: 0.5em;
            }

            & > strong {
                font-size: 80%;
            }

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                left: -70px;
                top: 12px;
                width: 30px;
                background-image: url("/assets/img/Icons/White/Points_White.png");
                background-position: center top;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
}

#transportation_options_list {
    @extend .tile-nav-menu, .content-row, .h-auto, .align-items-start;

    & > li {
        @extend .col, .col-6, .pb-3;

        // & > button:disabled {
        //     @extend .square, .btn, .btn-white, .text-orange, .w-100, .p-0, .align-items-center, .justify-content-center;
        //
        //     & > span {
        //         @extend .d-block;
        //         & .icon {
        //             &.shuttle {
        //                 background-image: url("/assets/img/Icons/Orange/Shuttle_Orange.png");
        //             }
        //         }
        //     }
        // }

        .disabled-transpo-button {
            @extend .square, .btn, .btn-white, .w-100, .p-0, .align-items-center, .justify-content-center;

            & > span {
                @extend .d-block;

                & .icon {
                    @extend .w-100, .d-block;
                    background-position: center center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    height: 60px;
                    margin-bottom: 10px;

                    &.rideshare {
                        background-image: url("/assets/img/Icons/Orange/Rideshare_Orange.png");
                    }

                    &.walk {
                        background-image: url("/assets/img/Icons/Orange/Walk_Orange.png");
                    }

                    &.shuttle {
                        background-image: url("/assets/img/Icons/Orange/Shuttle_Orange.png");
                    }
                }

                & > strong {
                    @extend .w-100, .d-block, .text-center, .text-orange;
                    // text-transform: uppercase;
                }
            }
        }

        & > button:not(:disabled) {
            @extend .square, .btn-theme, .w-100, .p-0, .align-items-center, .justify-content-center;

            &:hover {
                & .icon {
                    &.rideshare {
                        // background-image: url("/assets/img/Icons/White/Rideshare_White.png");
                    }

                    &.walk {
                        // background-image: url("/assets/img/Icons/White/Walk_White.png");
                    }

                    &.shuttle {
                        // background-image: url("/assets/img/Icons/White/Shuttle_White.png");
                    }
                }
            }


            & > span {
                @extend .d-block;

                & .icon {
                    @extend .w-100, .d-block;
                    background-position: center center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    height: 60px;
                    margin-bottom: 10px;

                    &.rideshare {
                        background-image: url("/assets/img/Icons/Orange/Rideshare_Orange.png");
                    }

                    &.walk {
                        background-image: url("/assets/img/Icons/Orange/Walk_Orange.png");
                    }

                    &.shuttle {
                        background-image: url("/assets/img/Icons/Orange/Shuttle_Orange.png");
                    }
                }

                & > strong {
                    @extend .w-100, .d-block, .text-center;
                    // text-transform: uppercase;
                }
            }
        }
    }
}

#rooms {
    .content-container {
        @extend .pr-5;
    }

    .panel-header {
        @extend .pr-3;
    }

    #rooms_list {
        @extend .search-results-list, .h-100, .pr-5, .w-100;

        & > li {
            @extend .border-bottom, .py-2, .w-100;
            position: relative;

            &:last-of-type {
                @extend .border-0;
            }

            button {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 99;
                @extend .w-100;
                -webkit-appearance: none;
                border: none;
                background: none;

                &:hover {
                    background-color: rgba(0,0,0,0.2);
                }
            }
        }
    }
}

#session_search_results {
    .content-container {
        @extend .pr-5;
    }

    .panel-header {
        @extend .pr-3;
    }

    #session_search_results_list {
        @extend .search-results-list, .h-100, .pr-5;
        position: relative;

        & > li {
            position: relative;

            & > ul {
                @extend .list-unstyled;

                & > li {
                    &:last-of-type {
                        @extend .border-0;
                    }
                }
            }

            button {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 99;
                @extend .w-100;
                -webkit-appearance: none;
                border: none;
                background: none;

                &:hover {
                    background-color: rgba(0,0,0,0.2);
                }
            }
        }

        .session-title {}

        .session-start-time {
            text-transform: uppercase;
            font-weight: 700;
        }

        .session-room {}
    }
}

.search-results-list {
    @extend .list-unstyled, .scrollable-vertical;
    overflow-y: scroll;

    & > li {
        @extend .py-4;
    }
}

body,
html {
    overflow: hidden;
    @extend .bg-black;
    font-weight: 300;

    strong {
        font-weight: 800 !important;
    }
}

#page_wrapper {
    width: 1080px;
    height: 1920px;
    overflow: hidden;
    @extend .bg-orange, .text-white;
    background-image: url("/assets/img/BG.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

#page_header {
    @extend .h-6;
    border-bottom: 1px solid rgba(255,255,255,0.5);

    & > .content-container {
        @extend .h-100;

        & > .content-row {
            @extend .justify-content-between, .h-100;

            & > #page_navigation {
                @extend .content-col, .col-9, .d-flex, .align-items-center, .h-100;
            }

            & > #clock {
                @extend .content-col, .col-3, .text-right, .d-flex, .align-items-center, .h-100, .justify-content-end;
                font-weight: 500;
            }
        }
    }
}

#page_content {
    @extend .h-88;
}

#page_footer {
    border-top: 1px solid rgba(255,255,255,0.5);
    @extend .h-6;

    .content-container {
        @extend .h-100;
    }

    .content-row {
        @extend .justify-content-between, .align-items-center,.h-100;
    }

    #ada_button {
        -webkit-appearance: none;
        border: none;
        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 60px;
        height: 60px;
        @extend .btn, .p-0;
        background-color: #1B9CFC !important;
        background-image: url("/assets/img/04_wheelchair.png");

        &:hover {
            // @extend .btn-white;
            // background-image: url("/assets/img/Icons/Orange/ADA-Circle_Orange.png");
        }
    }

    #ada_page_navigation {
        @extend .col-9, .align-items-center, .justify-content-end, .text-right;
        visibility: hidden;
    }

    #footer_navigation {
        @extend .col-3;
    }

    button {
        -webkit-appearance: none;
        border: none;
        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 60px;
        height: 60px;
        @extend .btn, .p-0;

        & + button {
            @extend .ml-5;
        }

        &#ada_home_button {
            background-image: url("/assets/img/Icons/Home.png");

            &:hover {
                // @extend .btn-white;
                // background-image: url("/assets/img/Icons/Orange/Home_Orange.png");
            }
        }

        &#ada_back_button {
            background-image: url("/assets/img/Icons/Back.png");

            &:hover {
                // @extend .btn-white;
                // background-image: url("/assets/img/Icons/Orange/Back-Arrow_Orange.png");
            }
        }

        &#ada_info_button {
            background-image: url("/assets/img/Icons/Help.png");

            &:hover {
                // @extend .btn-white;
                // background-image: url("/assets/img/Icons/Orange/Q-Circle_Orange.png");
            }
        }

        &#ada_search_button {
            background-image: url("/assets/img/Icons/Search.png");

            &:hover {
                // @extend .btn-white;
                // background-image: url("/assets/img/Icons/Orange/Q-Circle_Orange.png");
            }
        }
    }
}

button:focus {
    outline: none;
}


#tab_panes_nav {
    @extend .d-none;
}

.touchable-area {
    @extend .w-100, .h-55;
}

.non-touchable-area {
    @extend .w-100, .h-20;
}

.content-container {
    @extend .container-fluid, .px-7;

    & > .content-row {
        @extend .row;

        & > .content-col {
            @extend .col;
        }
    }
}

.panel-header {
    @extend .d-flex, .align-items-end, .pb-4, .h-25, .content-container;

    .panel-heading {
        font-weight: 300 !important;
        line-height: 1.1;
    }
}

.scrollable-vertical {
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 20px;
        height: 20px;
        // opacity: 0.5;
    }

    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(255,255,255,0.5);
        border: 0 none rgba(255,255,255,0.5);
        border-radius: 50px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgba(255,255,255,0.75);
    }

    &::-webkit-scrollbar-thumb:active {
        background: rgba(255,255,255,0.5);
    }

    &::-webkit-scrollbar-track {
        background: rgba(255,255,255,0.25);
        border: 0 none rgba(255,255,255,0.25);
        margin: 2em 0;
        border-radius: 50px;
    }

    &::-webkit-scrollbar-track:hover {
        background: rgba(255,255,255,0.25);
    }

    &::-webkit-scrollbar-track:active {
        background: rgba(255,255,255,0.5);
    }

    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}

.square {
    @extend .d-flex, .align-items-center, .justify-content-center;
    line-height: 1.1 !important;
    &:after {
        content: "";
        display: block;
        // padding-bottom: 100%;
        padding-bottom: 40%;
    }
}

#init {
    background-image: url("./../img/BG.png");
    background-size: cover;
    background-position: center center;
    position: relative;

    .touchable-area {
        position: absolute;
        &.not-ada {
            @extend .h-100, .h-100;
        }
        &.ada {
            @extend .h-70;
            // bottom: 120px;
        }
        @extend .w-100;
        transform: translateY(-50%);
        top: 50%;

        padding: 0rem 3.5rem !important;
        .scrollable-vertical {
            &::-webkit-scrollbar {
                transform: translateX(-50px);
            }
            &.content-container {
                padding: 7.5rem 4rem !important;
            }
        }
    }

    .non-touchable-area {
        @extend .h-0;
    }

    .content-container {
        @extend .h-100;

        & > .content-row {
            @extend .h-100;
        }
    }
}

.tile-nav-menu {
    @extend .list-unstyled;

    & > li {
        & > .tile-nav-item {
            @extend .square;
        }
    }
}

#page_navigation {
    button {
        -webkit-appearance: none;
        border: none;
        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 60px;
        height: 60px;
        @extend .btn, .p-0;

        & + button {
            @extend .ml-5;
        }

        &#home_button {
            background-image: url("/assets/img/Icons/Home.png");

            &:hover {
                // @extend .btn-white;
                // background-image: url("/assets/img/Icons/Orange/Home_Orange.png");
            }
        }

        &#top_bar_search_button {
            background-image: url("/assets/img/Icons/Search.png");

            &:hover {
                // @extend .btn-white;
                // background-image: url("/assets/img/Icons/Orange/Home_Orange.png");
            }
        }

        &#back_button {
            background-image: url("/assets/img/Icons/Back.png");

            &:hover {
                // @extend .btn-white;
                // background-image: url("/assets/img/Icons/Orange/Back-Arrow_Orange.png");
            }
        }

        &#info_button {
            background-image: url("/assets/img/Icons/Help.png");

            &:hover {
                // @extend .btn-white;
                // background-image: url("/assets/img/Icons/Orange/Q-Circle_Orange.png");
            }
        }
    }
}

#tab_panes_content {
    @extend .h-100;

    .tab-pane {
        @extend .h-100;
    }
}

#route_steps {
    .panel-header {
        overflow: visible;

        .panel-heading {
            position: relative;

            & > small {
                font-size: 50%;
                @extend .d-block;
                margin-bottom: 0.5em;
            }

            & > strong {
                font-size: 80%;
            }

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                left: -70px;
                top: 12px;
                width: 30px;
                background-image: url("/assets/img/Icons/White/Points_White.png");
                background-position: center top;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }

    .touchable-area {
        @extend .h-75;
    }

    .non-touchable-area {
        @extend .d-none;
    }

    #routeStepsCarousel {
        @extend .h-100;
        position: relative;

        .route-qr-code {
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translateX(-50%);
        }

        .carousel-item {
            overflow: hidden;
            @extend .h-100, .w-100;

            & > .content-container {
                @extend .h-100, .w-100;

                & > .map-container {
                    @extend .w-100, .h-50, .d-flex, .align-items-center, .justify-content-center;

                    & > svg {
                        max-height: 100%;
                        max-width: 100%;
                    }
                }
            }
        }

        .carousel-control-prev {
            height: 60px;
            width: 60px;
            top: 25%;
            left: 3%;
            background-image: url("/assets/img/Icons/White/Back-Circle_White.png");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;

            & > * {
                background: none !important;
            }
        }

        .carousel-control-next {
            height: 60px;
            width: 60px;
            top: 25%;
            right: 3%;
            background-image: url("/assets/img/Icons/White/Next-Circle_White.png");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;

            & > * {
                background: none !important;
            }
        }

        .step-info {
            @extend .mb-6, .mt-5, .text-center;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 300;
        }

        .step-text {
            @extend .text-center, .mt-5, .h3;
            font-weight: 800 !important;
        }
    }
}

#init,
#session_search {
    #session_search_controls {
        @extend .w-100;

        .jkey {
            @extend .bg-white, .text-orange, .border-white;
            box-shadow: 0 1px 5px rgba(0,0,0,0.5);

            &:hover {
                @extend .bg-white, .border-white, .text-orange;
            }

            img {
                filter: grayscale(100%);
            }
        }

        & > .form {
            position: relative;

            #session_search_field {
                padding-right: 13rem;
            }

            #session_search_field::-webkit-search-cancel-button {
                transform: scale(3);
                background-image: none;
                -webkit-appearance: none;
                background-image: url("./../img/Close_Grey.png");
                background-size: contain;
                width: 20px;
                height: 20px;
                padding: 0;
                cursor: pointer;
                opacity: 0.5;
            }

            #clear_button {
                position: absolute;
                right: 11rem;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                @extend .badge, .badge-orange, .py-3, .px-4;
                visibility: hidden;
            }
            position: relative;

            input {
                box-shadow: 0 1px 5px rgba(0,0,0,0.5);
            }

            button {
                box-shadow: none;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                background-image: url("/assets/img/Icons/White/Search_White.png");
                background-position: center center;
                background-size: 35%;
                background-repeat: no-repeat;
                width: 4em;
                background-color: #f3763a !important;
                border-color: #f3763a !important;

                &:active {
                    outline: none;
                    background-color: white !important;
                    border-color: white !important;
                    color: #f3763a !important;
                }

                &:hover {
                    background-color: #f3763a !important;
                    border-color: #f3763a !important;
                    color: white !important;
                }

                &:focus {
                    outline: none;
                    background-color: #f3763a !important;
                    border-color: #f3763a !important;
                }

                .clicked {
                    background-color: white !important;
                    color: #f3763a !important;
                }
            }
        }
    }
}

#customSwitch1 + label:after {
    background-image: url("/assets/img/04_wheelchair.png");
    background-size: 80%;
    @extend .bg-blue;
}
#customSwitch1:checked {
    @extend .bg-orange;
}

#customSwitch1:checked + label:before {
    @extend .bg-orange;
}

#customSwitch1:checked + label:before {
    @extend .bg-orange, .border-orange;
}

#customSwitch1:checked + label:after {
    // @extend .bg-blue;
    background-image: url("/assets/img/04_wheelchair.png");
    background-size: 80%;
    @extend .bg-orange, .border-orange;
}

#whereDoYouWantToGoList {
    button {
        @extend .square, .btn-theme, .w-100, .p-0, .align-items-center;
        font-size: 70% !important;
        font-weight: 800 !important;
        line-height: 1.2;
    }
}

.modal-content {
    margin-bottom: 500px !important;
}
