// Your variable overrides
$theme-colors: (
"orange": #F97F51,
"white": #FFFFFF,
"black": #000
);

$sizes: (
    0: 0%,
    6: 6%,
  10: 10%,
  12: 12%,
  15: 15%,
  18: 18%,
  20: 20%,
  30: 30%,
  35: 35%,
  40: 40%,
  60: 60%,
  80: 80%,
  85: 85%,
  90: 90%,
  88: 88%
);

$border-width:                4px !default;
$border-color:                #FFF !default;

$border-radius:               2.25rem !default;
$border-radius-lg:            2.5rem !default;
$border-radius-sm:            1.75rem !default;

$input-btn-padding-y:         2.25rem !default;
$input-btn-padding-x:         3.25rem !default;

$input-btn-padding-y-sm:      1.5rem !default;
$input-btn-padding-x-sm:      2rem !default;

$input-btn-padding-y-lg:      2.75rem !default;
$input-btn-padding-x-lg:      4rem !default;

$font-size-base: 2.5rem;

$font-family-sans-serif:      Amazon Ember, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

html, body {
	@extend .bg-black;
}

$font-weight-normal:          300 !default;


$enable-shadows:                              true !default;

$input-btn-border-width: 0px;

body {
    strong {
        font-weight: 900;
    }
}

#page_wrapper {
	@extend .bg-orange, .text-white;
    background-image: url('/assets/img/BG.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

#page_header, #page_footer {
    // background-color: rgba(0,0,0,0.1);
}

.touchable-area {
    // @extend .bg-success;
}
.non-touchable-area {
    // @extend .bg-warning;
}

#init_buttons {
    button {
        @extend .btn, .btn-lg, .btn-white, .text-orange;
    }
}

#session_search_controls {
    input {
        @extend .text-orange;
    }
    button {
        @extend .btn-white,.text-orange;
    }
}

::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.5);
  border: 0px none rgba(255,255,255,0.5);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.5);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(255,255,255,0.5);
}
::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.5);
  border: 0px none rgba(255,255,255,0.5);
  margin: 80px 0px 80px 0px;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: rgba(255,255,255,0.5);
}
::-webkit-scrollbar-track:active {
  background: rgba(255,255,255,0.5);
}
::-webkit-scrollbar-corner {
  background: transparent;
}
