



html {
  touch-action:none;
}

#init_buttons {
    button {
        @extend .btn-theme, .btn-block, .h-20, .py-0;
        line-height: 1.1 !important;

        & + button {
            @extend .mt-4;
        }
    }
}

#venue_menu_list,
#venues_list {
    @extend .tile-nav-menu, .content-row, .h-auto, .align-items-start;

    & > li {
        @extend .col, .col-4, .pb-3;

        & > button {
            @extend .square, .btn-theme, .p-0, .w-100;
        }
    }
}

#transportation_options {
    .panel-header {
        overflow: visible;

        .panel-heading {
            position: relative;

            & > small {
                font-size: 50%;
                @extend .d-block;
                margin-bottom: 0.5em;
            }



            & > strong {
                font-size: 80%;
            }

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                left: -70px;
                top: 12px;
                width: 30px;
                background-image: url("/assets/img/Icons/White/Points_White.png");
                background-position: center top;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
}

#transportation_options_list {
    @extend .tile-nav-menu, .content-row, .h-auto, .align-items-start;

    & > li {
        @extend .col, .col-4, .pb-3;

        & > button {
            @extend .square, .btn-theme, .w-100, .p-0, .align-items-center, .justify-content-center;
            &:hover {
                & .icon{
                    &.rideshare {
                        background-image: url('/assets/img/Icons/White/Rideshare_White.png');
                    }
                    &.walk {
                        background-image: url('/assets/img/Icons/White/Walk_White.png');
                    }
                    &.shuttle {
                        background-image: url('/assets/img/Icons/White/Shuttle_White.png');
                    }
                }
            }
            & > span {
                @extend .d-block;
                & .icon {
                    @extend .w-100, .d-block;
                    background-position: center center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    height: 80px;
                    &.rideshare {
                        background-image: url('/assets/img/Icons/Orange/Rideshare_Orange.png');
                    }
                    &.walk {
                        background-image: url('/assets/img/Icons/Orange/Walk_Orange.png');
                    }
                    &.shuttle {
                        background-image: url('/assets/img/Icons/Orange/Shuttle_Orange.png');
                    }
                }
                & > strong {
                    @extend .w-100, .d-block, .text-center;
                    text-transform: uppercase;
                }
            }
        }
    }
}

#rooms {
    .content-container {
        @extend .pr-5;
    }

    .panel-header {
        @extend .pr-3;
    }

    #rooms_list {
        @extend .search-results-list, .h-100, .pr-5, .w-100;

        & > li {
            @extend .border-bottom, .py-2, .w-100;
            position: relative;

            &:last-of-type {
                @extend .border-0;
            }
            button  {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 99;
                @extend .w-100;
                -webkit-appearance: none;
                border: none;
                background: none;
                &:hover {
                    background-color: rgba(0,0,0,0.2)
                }
            }
        }
    }
}

#session_search_results {
    .content-container {
        @extend .pr-5;
    }

    .panel-header {
        @extend .pr-3;
    }

    #session_search_results_list {
        @extend .search-results-list, .h-100, .pr-5;
        position: relative;

        & > li {

                position: relative;

            & > ul {
                @extend .list-unstyled;

                & > li {

                    &:last-of-type {
                        @extend .border-0;
                    }

                }
            }
            button  {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 99;
                @extend .w-100;
                -webkit-appearance: none;
                border: none;
                background: none;
                &:hover {
                    background-color: rgba(0,0,0,0.2)
                }
            }
        }

        .session-title {

        }

        .session-start-time {
            text-transform: uppercase;
            font-weight: 700;
        }

        .session-room {

        }


    }
}

.search-results-list {
    @extend .list-unstyled, .scrollable-vertical;
    overflow-y: scroll;

    & > li {
        @extend .py-4;
    }
}

body,
html {
    overflow: hidden;
    @extend .bg-black;
    font-weight: 300;

    strong {
        font-weight: 700;
    }
}

#page_wrapper {
    width: 1080px;
    height: 1920px;
    overflow: hidden;
    @extend .bg-orange, .text-white;
    background-image: url("/assets/img/BG.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

#page_header {
    @extend .h-6;

    & > .content-container {
        @extend .h-100;

        & > .content-row {
            @extend .justify-content-between, .h-100;

            & > #page_navigation {
                @extend .content-col, .col-9, .d-flex, .align-items-center, .h-100;
            }

            & > #clock {
                @extend .content-col, .col-3, .text-right, .d-flex, .align-items-center, .h-100, .justify-content-end;
                font-weight: 300;
            }
        }
    }
}

#page_content {
    @extend .h-88;
}

#page_footer {
    @extend .h-6;
    .content-container {
        @extend .justify-content-between, .align-items-center, .h-100;
    }
    .content-row {
        @extend .h-100;
    }
    #ada_button {
        -webkit-appearance: none;
        border: none;
        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 60px;
        height: 60px;
        @extend .btn, .p-0;

        background-image: url("/assets/img/Icons/White/ADA-Circle_White.png");

        &:hover {
            @extend .btn-white;
            background-image: url("/assets/img/Icons/Orange/ADA-Circle_Orange.png");
        }
    }

    #ada_page_navigation {
        @extend .col-9, .align-items-center, .justify-content-end, .text-right;
        visibility: hidden;
    }

#footer_navigation {
    @extend .col-3;
}

    button {
        -webkit-appearance: none;
        border: none;
        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 60px;
        height: 60px;
        @extend .btn, .p-0;

        & + button {
            @extend .ml-5;
        }

        &#ada_home_button {
            background-image: url("/assets/img/Icons/White/Home_White.png");

            &:hover {
                @extend .btn-white;
                background-image: url("/assets/img/Icons/Orange/Home_Orange.png");
            }
        }

        &#ada_back_button {
            background-image: url("/assets/img/Icons/Back.png");

            &:hover {
                @extend .btn-white;
                background-image: url("/assets/img/Icons/Orange/Back-Arrow_Orange.png");
            }
        }

        &#ada_info_button {
            background-image: url("/assets/img/Icons/Orange/Q-Circle_Orange.png");

            &:hover {
                // @extend .btn-white;
                background-image: url("/assets/img/Icons/Orange/Q-Circle_Orange.png");
            }
        }
    }

}

#tab_panes_nav {
    @extend .d-none;
}

.touchable-area {
    @extend .w-100, .h-55;
}

.non-touchable-area {
    @extend .w-100, .h-20;
}

.content-container {
    @extend .container-fluid, .px-7;

    & > .content-row {
        @extend .row;

        & > .content-col {
            @extend .col;
        }
    }
}

.panel-header {
    @extend .d-flex, .align-items-end, .pb-4, .h-25, .content-container;

    .panel-heading {
        font-weight: 300 !important;
        line-height: 1.1;
    }
}

.scrollable-vertical {
    &::-webkit-scrollbar {
        width: 20px;
        height: 20px;
    }

    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(255,255,255,0.5);
        border: 0 none rgba(255,255,255,0.5);
        border-radius: 50px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgba(255,255,255,0.5);
    }

    &::-webkit-scrollbar-thumb:active {
        background: rgba(255,255,255,0.5);
    }

    &::-webkit-scrollbar-track {
        background: rgba(255,255,255,0.5);
        border: 0 none rgba(255,255,255,0.5);
        margin: 2em 0;
        border-radius: 50px;
    }

    &::-webkit-scrollbar-track:hover {
        background: rgba(255,255,255,0.5);
    }

    &::-webkit-scrollbar-track:active {
        background: rgba(255,255,255,0.5);
    }

    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}

.square {
    @extend .d-flex, .align-items-center, .justify-content-center;

    &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
}

#init {
    background-image: url('./../img/BG_Icon.png');
    background-size: cover;
    background-position: center center;
}

.tile-nav-menu {
    @extend .list-unstyled;

    & > li {
        & > .tile-nav-item {
            @extend .square;

        }
    }
}


#page_navigation {
    button {
        -webkit-appearance: none;
        border: none;
        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 60px;
        height: 60px;
        @extend .btn, .p-0;

        & + button {
            @extend .ml-5;
        }

        &#home_button {
            background-image: url("/assets/img/Icons/Home.png");

            &:hover {
                @extend .btn-white;
                background-image: url("/assets/img/Icons/Orange/Home_Orange.png");
            }
        }

        &#back_button {
            background-image: url("/assets/img/Icons/Back.png");

            &:hover {
                @extend .btn-white;
                background-image: url("/assets/img/Icons/Orange/Back-Arrow_Orange.png");
            }
        }

        &#info_button {
            background-image: url("/assets/img/Icons/Help.png");

            &:hover {
                // @extend .btn-white;
                background-image: url("/assets/img/Icons/Orange/Q-Circle_Orange.png");
            }
        }
    }
}



#tab_panes_content {
    @extend .h-100;

    .tab-pane {
        @extend .h-100;
    }
}

#route_steps {
    .panel-header {
        overflow: visible;

        .panel-heading {
            position: relative;

            & > small {
                font-size: 50%;
                @extend .d-block;
                margin-bottom: 0.5em;
            }

            & > strong {
                font-size: 80%;
            }

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                left: -70px;
                top: 12px;
                width: 30px;
                background-image: url("/assets/img/Icons/White/Points_White.png");
                background-position: center top;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }

    .touchable-area {
        @extend .h-75;
    }

    .non-touchable-area {
        @extend .d-none;
    }

    #routeStepsCarousel {
        @extend .h-100;
        position: relative;
    .route-qr-code {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
    }

        .carousel-item {
            overflow: hidden;
            @extend .h-100, .w-100;

            & > .content-container {
                @extend .h-100, .w-100;

                & > .map-container {
                    @extend .w-100, .h-50, .d-flex, .align-items-center, .justify-content-center;

                    & > svg {
                        max-height: 100%;
                        max-width: 100%;
                    }
                }
            }
        }

        .carousel-control-prev {
            height: 60px;
            width: 60px;
            top: 55%;
            left: 20%;
            background-image: url("/assets/img/Icons/White/Back-Circle_White.png");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;

            & > * {
                background: none !important;
            }
        }

        .carousel-control-next {
            height: 60px;
            width: 60px;
            top: 55%;
            right: 20%;
            background-image: url("/assets/img/Icons/White/Next-Circle_White.png");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;

            & > * {
                background: none !important;
            }
        }

        .carousel-item:last-of-type {
            &.active {
                &~ .carousel-control-next {
                    @extend .d-none;
                }
            }
        }

        .carousel-item:first-of-type {
            &.active {
                &~ .carousel-control-prev {
                    @extend .d-none;
                }
            }
        }

        .step-info {
            @extend .mb-6, .mt-5, .text-center;
            font-weight: 300;
        }

        .step-text {
            @extend .text-center, .mt-3;
            font-weight: 500;
        }
    }
}

#session_search {
    #session_search_controls {
        @extend .w-100;
        .jkey {
            @extend .bg-white, .text-orange, .border-white;
                box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
            &:hover {
                @extend .bg-orange, .border-orange, .text-white;
            }
            img {
                filter: grayscale(100%);
            }
        }
        & > .form {
            position: relative;
            #session_search_field {
                padding-right: 13rem;
            }
            #session_search_field::-webkit-search-cancel-button{
                transform: scale(3);
                background-image: none;
                -webkit-appearance: none;
                background-image: url('./../img/Close_Grey.png');
                background-size: contain;
                width: 20px;
                height: 20px;
                padding: 0;
                cursor: pointer;
                opacity: 0.5;
            }
            #clear_button {
                position: absolute;
                right: 11rem;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                @extend .badge, .badge-orange, .py-3, .px-4;
                visibility: hidden;
            }
            position: relative;
            input {
                box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
            }
            button {
                box-shadow: none;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                background-image: url("/assets/img/Icons/White/Search_White.png");
                background-position: center center;
                background-size: 35%;
                background-repeat: no-repeat;
                width: 4em;
                @extend .bg-orange, .border-orange;
                &:hover {
                    background-image: url("/assets/img/Icons/Orange/Search_Orange.png");
                    @extend .bg-white, .border-white;
                }
            }
        }
    }
}
