// Your variable overrides
$theme-colors: (
    "orange": #f3763a,
    "white": #FFFFFF,
    "black": #000,
    "blue": #1B9CFC
);
$sizes: (
    0: 0,
    6: 6%,
    10: 10%,
    12: 12%,
    15: 15%,
    18: 18%,
    20: 20%,
    25: 25%,
    30: 30%,
    35: 35%,
    40: 40%,
    55: 55%,
    60: 60%,
    70: 70%,
    80: 80%,
    85: 85%,
    90: 90%,
    88: 88%
);
$spacer: 1.5rem;
$spacers: (
    5: ($spacer * 2.5),
    6: ($spacer * 3),
    7: ($spacer * 5)
);
$border-width: 4px !default;
$border-color: #FFF !default;
$border-radius: 2.25rem !default;
$border-radius-lg: 2.5rem !default;
$border-radius-sm: 1.75rem !default;
$input-btn-padding-y: 2.25rem !default;
$input-btn-padding-x: 3.25rem !default;
$input-btn-padding-y-sm: 1.5rem !default;
$input-btn-padding-x-sm: 2rem !default;
$input-btn-padding-y-lg: 2.75rem !default;
$input-btn-padding-x-lg: 4rem !default;
$font-size-base: 2.5rem;
$grid-gutter-width: 1.5rem;

// .btn-theme
// .btn-theme:hover {
//     @extend .btn, .btn-white, .text-orange;
//     box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
//     &:active:not(:focus),
//     &:active:not(:focus){
//         @extend .text-white, .border-orange;
//         background-color: #f3763a !important;
//     }
//     &:focus {
//         @extend .btn, .btn-white, .text-orange;
//     }
//
// }







$custom-control-indicator-size:         4rem !default;

// import theme colors and style options
@import "theme.scss";
